body {
  font-family: Helvetica, sans-serif;
  padding: 0.25em;
}

input[type=text] {
  padding: 0.5em;
  margin-left: 0.5em;
}

.explanation {
  border: 1px solid gray;
  padding: 1em;
}

#display {
  margin-top: 1em;
}
